body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
}

.App-nav-header {
  display: flex;
  background: rgb(55, 81, 165);
  color: white;
  height: 65px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(170, 206, 181);
  font-size: calc(10px + 2vmin);
  color: rgb(115, 189, 178);
}

.App-link {
  color: #56b1ca;
}

.Form {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
}

.Form input {
  padding: 10px;
  margin-bottom: 20px;
}

.Form button {
  padding: 10px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}